body{
    margin:0px;
    background-color:#303C4a;
}
ul {
    margin:0px;
}

li {
    float: left;
    text-align: center;
    text-shadow:0 1px 0 #111;
}

img#icon{
    position:relative;
    top:50px;
    left:50px;
}
a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    1background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    1background-color: #7A991A;
    background-image: url("/images/top_nav_bg_hover.png") !important;
    background-repeat: repeat-x;
}

div#navbanner {
    1background-color: #98bf21;
    font-size:13px;
    font-family:Verdana,Geneva,sans-serif;
    height:25px;
}

div#top_banner {
    background-image: url("/images/rs_banner_td.png");
    height:235px;
}

div#nav_bar{
    height:6px;
    background-image: url("/images/top_bar.png")
}

div#banner_list{
    padding-right:25px;
    padding-left:25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("/images/top_nav_bg.png") !important;
    background-repeat: repeat-x;

}

div#tail{
    text-align: center;
    color:white;
    position:relative;
    bottom:0;
    width:100%;
}

td#left_column > ul{
    padding-left:5px;
    padding-right:5px;
    background-color:blue;
    list-style-type:none;
}

td#left_column > ul > li{
    float:none;
}

td#right_column > ul{
    padding-left:5px;
    padding-right:5px;
    background-color:blue;
    list-style-type:none;
}

td#right_column > ul > li{
    float:none;
}
